body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(
    180deg,
    rgba(0, 53, 41, 0.81) 0%,
    rgba(6, 49, 55, 0.911458) 14.06%,
    rgba(19, 2, 2, 0.970271) 62.27%,
    #000000 98.96%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#footer-image {
  background: url('./assets/Image3.png') no-repeat;
  background-size: cover;
  height: 230px;
  filter: opacity(0.5);
}

.track-header,
.sort-track {
  display: flex;
  width: 100%;
  padding: 10px 0;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.active {
  background-color: #e4e4e421;
}

.pointer {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.pointer:hover {
  background-color: #e4e4e409;
}

.pointer .track-avatar {
  transition: 0.3s ease-in-out;
}

.pointer:hover .track-avatar {
  transform: scale(1.1);
}

.text-light {
  color: #c1b4bc;
}

.seeds {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 5px;
  width: 100%;
  flex-direction: row;
}

.seed-item {
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
  margin: 0 5px;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 230px;
  min-width: 200px;
  background: #631a1a8f;
  border-radius: 5px;
  letter-spacing: 0.3px;
}

.seed-image {
  width: 52px;
  height: 52px;
  margin-right: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  border: 0 none;
  background-color: #fff;
  position: relative;
  display: flex;
}

.seed-name {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  display: block;
}

.remove-seed {
  appearance: none;
  background: transparent;
  border: 0 none;
  background-image: url('data:image/svg+xml;utf8,<svg stroke="currentColor" height="25" width="25" fill="white" stroke-width="0" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M331.3 308.7L278.6 256l52.7-52.7c6.2-6.2 6.2-16.4 0-22.6-6.2-6.2-16.4-6.2-22.6 0L256 233.4l-52.7-52.7c-6.2-6.2-15.6-7.1-22.6 0-7.1 7.1-6 16.6 0 22.6l52.7 52.7-52.7 52.7c-6.7 6.7-6.4 16.3 0 22.6 6.4 6.4 16.4 6.2 22.6 0l52.7-52.7 52.7 52.7c6.2 6.2 16.4 6.2 22.6 0 6.3-6.2 6.3-16.4 0-22.6z"></path><path d="M256 76c48.1 0 93.3 18.7 127.3 52.7S436 207.9 436 256s-18.7 93.3-52.7 127.3S304.1 436 256 436c-48.1 0-93.3-18.7-127.3-52.7S76 304.1 76 256s18.7-93.3 52.7-127.3S207.9 76 256 76m0-28C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48z"></path></svg>');
  fill: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 14px;
  margin-left: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.remove-seed:hover,
.remove-seed:focus {
  filter: invert(27%) saturate(2878%) hue-rotate(34deg) brightness(104%)
    contrast(97%);
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  filter: saturate(0);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #6b0493, #b836e0 40%, #ff4520);
  opacity: 0.6;
}

.MuiTypography-colorTextSecondary {
  color: #c1b4bc !important;
}

@media (min-width: 40rem) {
  #footer-image {
    background-size: 100% 100%;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #3f3f3f;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #b9b9b9;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px #252525;
    background-color: #3f3f3f;
  }

  ::-webkit-scrollbar-track:hover {
    background-color: #464646;
  }
}

@media (max-width: 400px) {
  .sort-track {
    flex-direction: column;
  }
  .react-jinke-music-player-main .music-player-panel .panel-content {
    padding: 0 !important;
  }
}
